---
layout: default
---
<header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          {% for item in site.data.destinations %}
            {% if page.destinationName == item.destinationName %}
            <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url({{item.photo-old.photoUrl}})">
                      <div class="carousel-caption d-none d-md-block">
                        <h1>{{item.destinationName}}</h1>
                        <h3>{{item.country}},{{item.contenent}}</h3>
                      </div>
                    </div>
                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url({{item.photo-old.photoUrl1}})">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Second Slide</h3>
                        <p>This is a description for the second slide.</p>
                      </div>
                    </div>
                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url({{item.photo-old.photoUrl2}})">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Third Slide</h3>
                        <p>This is a description for the third slide.</p>
                      </div>
                    </div>
                  </div>
            {%endif%}
          {% endfor %}

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</header>

{{ content }}
{% for item in site.data.destinations %}
  {% if page.destinationName == item.destinationName %}
    <div class="container-fluid">
      <div class="row">
          <p style="background-color: rgba(201, 76, 76, 0.3);padding: 20px 30px 20px 80px;">{{item.description}}</p>
      </div>
      <div class="row" style="height: 400px;">
          <div class="col-6">
              Location
          </div>
          <div class="col-6">
              <div class="row" style="height: 200px;">
                  Weather
              </div>
              <div class="row" style="height:200px;">
                  <div class="col-6">
                      Time
                  </div>
                  <div class="col-6">
                      Population
                  </div>
              </div>
          </div>
      </div>
      <div class="row" style="height:300px;">
          Gezilecek yerler
      </div>
    </div>

    <h3>{{item.location}}</h3>
    <h3>{{item.time-zone}}</h3>
    <h3>{{item.weather}}</h3>
    <h3>{{item.population}}</h3>
    <h3>{{item.touristicPlaces}}</h3>
  {%endif%}
{% endfor %}
